<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle de la Receta</title>
</head>
<body>
    <h1>Detalle de la Receta</h1>
    <p>Fecha de Emisión: {{ receta.fecha_Emision }}</p>
    <p>Fecha de Reposición: {{ receta.fecha_Reposicion }}</p>
    <p>Medico: {{ receta.medico }}</p>
    <p>Lugar: {{ receta.lugar }}</p>

    <h2>Medicamentos en la Receta</h2>
    <ul>
        {% for detalle in receta.recetamedicamento_set.all %}
            <li>
                {{ detalle.medicamento.nombre_Medicamento }} - {{ detalle.cantidad }} - {{ detalle.frecuencia }}
            </li>
        {% empty %}
            <li>No hay medicamentos en esta receta.</li>
        {% endfor %}
    </ul>

    <h2>Agregar Medicamento</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Agregar</button>
    </form>

    <a href="{% url 'lista_recetas' %}">Volver a la lista de recetas</a>
</body>
</html>











