{% extends "base.html" %}

{% block titulo %}Agregar Paciente{% endblock %}

{% block contenido %}
    <h1>Sección agregar paciente</h1>
    <p>Llene el siguiente formulario con los datos del paciente y luego presione GUARDAR</p>
    <div class="card">
        <div class="card-header"><h3>Datos</h3></div>
        <div class="card-body">
            
            {% include "Programar/agregar-paciente" %}

        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
    
{% endblock %}