<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Receta</title>
</head>
<body>
    <h2>Detalles de la Receta</h2>
    <p><strong>Paciente:</strong> {{ receta.id_paciente.nombre }}</p>
    <p><strong>Fecha de Emisión:</strong> {{ receta.fecha_Emision }}</p>
    <p><strong>Fecha de Reposición:</strong> {{ receta.fecha_Reposicion }}</p>
    <p><strong>Lugar:</strong> {{ receta.lugar }}</p>
    <p><strong>Médico:</strong> {{ receta.medico }}</p>

    <h3>Medicamentos Recetados</h3>
    {% for medicamento in receta.recetamedicamento_set.all %}
        <div class="medicamento-item">
            <strong>{{ medicamento.medicamento.nombre_Medicamento }}</strong><br>
            Cantidad: {{ medicamento.cantidad }}<br>
            Frecuencia: {{ medicamento.frecuencia }}
        </div>
    {% endfor %}
</body>
</html>
