<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% for campo in formulario %}
    <div class="form-group">
        {% if campo.label != 'Usuario' %}
        
        <label for="" class="form-label">{{campo.label}}</label>
        
        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <br>
        <img src="{{campo.value.url}}" height="100">
        <br>
        {% endif %}
        
        {% if campo.field.widget.input_type == 'select' %}
        <select name="{{campo.name}}" class="form-control">
            {% for choice in campo.field.choices %}
            <option value="{{choice.0}}">{{choice.1}}</option>
            {% endfor %}
        </select>
        {% else %}
        <input 
        type="{{ campo.field.widget.input_type }}" 
        class="form-control" 
        id="" 
        name="{{campo.name}}" 
        placeholder="{{campo.label}}"
        value="{{campo.value | default:""}}">
        {% endif %}
    </div>
    <div class="col-12" help-text>{{campo.errors}}</div>
    {% endif %}
    {% endfor %}
    
<br>
    <input type="submit" class="btn btn-primary" value="Guardar">
    <a
        name=""
        id=""
        class="btn btn-danger"
        href="{% url 'index' %}"
        role="button"
        >Cancelar</a
    >
    
</form>