

<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% for campo in form %}
    
    <div class="form-group">
        <label for="" class= "form-label" >{{campo.label}}</label>
    <input 
        type={{campo.field.widget.input_type}} 
        class="form-control" 
        id="" 
        name ="{{campo.name}}" 
        placeholder="{{campo.label}}"
        value="">
            </div>
            <div class= "col-12" help-text>{{campo.errors}}</div>
            {% endfor %}
        <br>
        <input type="submit" class="btn btn-primary" value="Guardar">

        </form>