{% extends "base.html" %}

{% block titulo %}Paciente{% endblock %}

{% block contenido %}
    <h1>Listado de pacientes</h1>
    <p>Sección que muestra el listado de pacientes</p>

    <div class="card">
        <div class="card-header"><a
            name=""
            id=""
            class="btn btn-outline-success"
            href="{% url 'agregar' %}"
            role="button"
            >Agregar paciente</a
        >
        </div>
        <div class="card-body">
            <h4 class="card-title">Listado</h4>
            

            <table class="table" id="myTable">
                <thead>
                    
                        <th>Id_Paciente</th>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>sexo</th>
                        <th>Fecha Nacimiento</th>
                        <th>Edad</th>
                        <th>Dirección</th>
                        <th>Telefono</th>
                        <th>Email</th>
                    
                </thead>
                <tbody>

                    {% for pacientes in pacientes  %}
                    <tr>
                        <td>{{ pacientes.id_paciente }}</td>
                        <td>{{ pacientes.cedula}}</td>
                        <td>{{ pacientes.nombre }}</td>
                        <td>{{ pacientes.apellido}}</td>
                        <td>{{ pacientes.sexo}}</td>
                        <td>{{ pacientes.fecha_Nacimiento}}</td>
                        <td>{{ pacientes.edad}}</td>
                        <td>{{ pacientes.direccion}}</td>
                        <td>{{ pacientes.telefono}}</td>
                        <td>{{ pacientes.email}}</td>

                        <td>
                            <a
                                name=""
                                id=""
                                class="btn btn-outline-warning"
                                href="{% url 'editar' pacientes.id_paciente%}"
                                role="button"
                                >Editar</a
                            >
                            <a
                                name=""
                                id=""
                                class="btn btn-outline-danger"
                                href="{% url 'eliminar' pacientes.id_paciente%}"
                                role="button"
                                >Eliminar</a
                            >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">

            

        </div>
    </div>

    <script>
        
        
    

{% endblock %}