{% extends "base.html" %}

{%block titulo%} Paciente {% endblock %}
{%block contenido%} 

<h1>Ingreso de  Paciente</h1>
<p> Se Solicita la Informacion Basica del Paciente </P>
    <div class="card">
        <div class="card-header"><a
            name=""
            id=""
            class="btn btn-success"
            href="{% url 'agregar'%}"
            role="button"
            >Agregar Paciente</a>
            
<a
    name=""
    id=""
    class="btn btn-primary"
    href="{% url 'editar'%}"
    role="button"
    >Editar</a
>

        </div>
        <div class="card-body">
            <h4 class="card-title">Paciente</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Edad</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    {% for paciente in pacientes %}
                    <tr>
                        <td>{{paciente.cedula}}</td>
                        <td>{{paciente.nombre}}</td>
                        <td>{{paciente.apellido}}</td>
                        <td>{{paciente.sexo}}</td>
                        <td>{{paciente.fecha_nacimiento}}</td>
                        <td>{{paciente.edad}}</td>
                        <td>{{paciente.direccion}}</td>
                        <td>{{paciente.telefono}}</td>
                        <td>{{paciente.email}}</td>
                        <td>
                            <a
                                name=""
                                id=""
                                class="btn btn-primary"
                                href="{% url 'editar' paciente.id %}"
                                role="button"
                                >Editar</a
                            >
                            <a
                                name=""
                                id=""
                                class="btn btn-danger"
                                href="{% url 'eliminar' paciente.id %}"
                                role="button"
                                >Eliminar</a
                            >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>
        <div class="card-footer text-muted">Footer</div>
    </div>
    
{% endblock %}