{% extends "base.html" %}

{%block titulo%} Laboratorios {%endblock%}
{%block contenido%} 

<h1>Control de Laboratorios</h1>
<p> Gestión de Laboratorios </P>
    
        <div class="card">
            <div class="card-header"><a
                name=""
                id=""
                class="btn btn-success"
                href="{% url 'agregar'%}"
                role="button"
                >Agregar Laboratorio</a>
                
    <a
        name=""
        id=""
        class="btn btn-primary"
        href="{% url 'editar'%}"
        role="button"
        >Editar</a
    >
    
            </div>
            <div class="card-body">
                <h4 class="card-title">Laboratorios</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Número Laboratorio</th>
                            <th>Cédula</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Lugar</th>
                            <th>Tipo de Muestra</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
            <div class="card-footer text-muted">Footer</div>
        </div>


{%endblock%}