<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Medicamentos a la Receta</title>
</head>
<body>
    <h2>Agregar Medicamentos a la Receta</h2>
    <h3>Receta: {{ receta.fecha_Emision }} - {{ receta.medico }}</h3>
    
    <form method="post">
        {% csrf_token %}
        <label for="medicamento">Medicamento:</label>
        <select name="medicamento" id="medicamento" required>
            {% for medicamento in medicamentos %}
                <option value="{{ medicamento.id_Medicamento }}">{{ medicamento.nombre_Medicamento }}</option>
            {% endfor %}
        </select>

        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" id="cantidad" min="1" required>

        <label for="frecuencia">Frecuencia:</label>
        <input type="text" name="frecuencia" id="frecuencia" required>

        <button type="submit">Agregar Medicamento</button>
    </form>

    <h3>Medicamentos Agregados:</h3>
    <ul>
        {% for item in receta_medicamentos %}
            <li>
                {{ item.medicamento.nombre_Medicamento }} - Cantidad: {{ item.cantidad }} - Frecuencia: {{ item.frecuencia }}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'recetas' %}">Volver a la lista de recetas</a>
</body>
</html>

