<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Receta Terminada</title>
</head>
<body>
    <h1>Receta: {{ receta.fecha_Emision }} - {{ receta.medico }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Agregar Medicamento</button>
    </form>
    
    <h3>Medicamentos Agregados:</h3>
    <ul>
        {% for item in receta_medicamentos %}
            <li>
                {{ item.medicamento.nombre_Medicamento }} - Cantidad: {{ item.cantidad }} - Frecuencia: {{ item.frecuencia }}
            </li>
        {% empty %}
            <li>No hay medicamentos agregados.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'detalles_receta' receta.id_Recetas %}">Ver Detalles de la Receta</a>
    <a href="{% url 'recetas' %}">Volver al listado de recetas</a>
</body>
</html>
